*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body {
    background-color: rgb(165, 82, 158);
}
#agecal {
  color:orange;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 35px;
  text-align: center;
  padding-bottom: 20px;
}
.container {
  width: 40%;
  min-width: 450px;
  border-radius: 5px;
  background-color:brown;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top:50%;
  padding: 30px 50px;
}
.container * {
 font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border: none;
 outline: none;
}
.inputs-wrapper {
  background-color: rgb(27, 27, 121);
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0,0,0,3);
  margin-bottom: 50px;
}
.heading {
 color: azure;
 font-weight: bold;
 padding: 5px;
}
input,
button {
  height: 50px;
  background-color: azure;
  color: black;
  font-weight: 500;
  border-radius: 5px;
}
input {
  width: 60%;
  padding: 0 20px;
  font-size: 14px;
  color:black;
  font-family: 'Courier New', Courier, monospace;
}
button {
  width: 30%;
  float: right;
  font-family: 'Courier New', Courier, monospace;
}
button:hover {
  cursor: pointer;
}
.outputs-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.outputs-wrapper div {
  height: 100px;
  width: 100px;
  background-color: rgb(27, 27, 121);
  border-radius: 5px;
  color:azure;
  display:grid;
  place-items: center;
  padding: 20px 0;
  box-shadow: 0 15px 20px rgba(0,0,0,3);
}
span{ 
  font-size: 30px;
  font-weight: 500;
}
p {
  font-size: 14px;
  color:azure;
  font-weight: 500;
}
/*


*/







